button {
    display: block;
    margin: 0 auto;
    background-color: $main-color;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    width: 160px;
    height: 45px;
}
.getbill {
    margin-top: 39px;
    width: 230px;
    height: 57px;
}