.carousel {
    padding: 50px 0;
    min-height: 470px;
    &__inner {
        width: 500px;
        margin: 0 auto;
        img {
            width: 114px;
            height: 114px;
        }
        .slick {
            &-slide {
                opacity: 0.2;
                img {
                    margin: 0 auto;
                }
            }
            &-active {
                opacity: 1;

            }
        }
    }
}