.consultation {
    position: relative;
    min-height: 357px;
    padding: 40px 0 58px 0;
    .subtitle {
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
    }
    .circle__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-color: $main-color;
        background-color: #fff;
    }

    .feed-form {
        margin-top: 58px;
        width: 1140px;
        height: 166px;
        border: 1px solid #898989;
        .form__wrapper {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

        }
        input {
            width: 268px;
            height: 45px;
            border-color: #898989;
            border-radius: 50px;
            margin: 0 2px;
        }
        .button_submit {
            position: absolute;
            bottom: 37px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}